.button {
	text-align: center;
	text-transform: uppercase;
	font-size: 1.45rem;
	background-color: transparent;
	border-radius: 4px;
	font-weight: bold;
	cursor: pointer;
	@include trans(box-shadow, 150ms);
	@include trans(background-color, 150ms);

	&:hover {
		box-shadow: 0 0 0.7rem 0 rgba(0, 0, 0, 0.4);
	}
}

.hamburger {
	cursor: pointer;

	.line {
		width: 2.7rem;
		height: 4px;
		margin-bottom: 3px;
		background-color: $dark-grey;
		border-radius: 3px;

		&:hover {
			background-color: $orange;
		}
	}

	transition: transform 150ms ease-in;

	&:hover {
		transform: scale(1.2);
	}
}
